name: artifactUpload
on:
  push:
    branches: [main]
# on:
#   workflow_dispatch:
#     inputs:
#       id:
#         description: "run identifier"
#         required: false

jobs:
  upload:
    name: "artifact-view-poc"
    runs-on: self-hosted
    steps:
      - name: Setup
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: 2.89.0
        env:
          JF_URL: ${{ secrets.JFROG_TEST_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_TEST_TOKEN  }}
          JFROG_CLI_LOG_LEVEL: DEBUG
      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          custom-server-id: aview2
        env:
          JF_URL: ${{ secrets.JFROG_TEST_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_TEST_TOKEN }}    
      - name: Checkout
        uses: actions/checkout@v2
      - name: deploy_artifact
        run: |
          jf --version
          jf rt upload --server-id aview2 "jfrog_cli.go" go-2/go.mod --build-name $JFROG_CLI_BUILD_NAME --build-number $JFROG_CLI_BUILD_NUMBER --module "artifact-view-demo"
