on:
  workflow_dispatch:
    inputs:
      id:
        description: "run identifier"
        required: false

jobs:
  upload:
    name: "artifact-view-poc"
    runs-on: self-hosted
    steps:
      - name: Setup
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: 2.89.0
          custom-server-id: aview2
        env:
          JF_URL: https://z0artifactviewdev1.jfrogdev.org
          JF_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN_2 }}
          JFROG_CLI_LOG_LEVEL: DEBUG
      - name: Checkout
        uses: actions/checkout@v2
      - name: deploy_artifact
        run: |
          jf --version
          jf rt upload --server-id aview2 "jfrog_cli.go" go-2/go.mod --build-name $JFROG_CLI_BUILD_NAME --build-number $JFROG_CLI_BUILD_NUMBER --module "artifact-view-demo"
