name: build-upload-github-jfrog

# on:
#   push:
#     branches: [main]
on:
  workflow_dispatch:
    inputs:
      id:
        description: "run identifier"
        required: false


jobs:
  build:
    runs-on: self-hosted
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
      artifact-metadata: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        id: push
        uses: docker/build-push-action@v5.0.0
        with:
          context: docker
          file: docker/retention.Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Attest
        uses: actions/attest-build-provenance@v3.2.0
        id: attest
        if: steps.push.outputs.digest != ''
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true    
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
   

      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          custom-server-id: productdemo
        env:
          JF_URL: https://z0artifactviewdev1.jfrogdev.org
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_TEST_TOKEN }}
      # - name: deploy_artifact
      #   run: |
      #     jf --version
      #     jf rt upload --server-id productdemo "jfrog_cli.go" go-2/go.mod --build-name $JFROG_CLI_BUILD_NAME --build-number $JFROG_CLI_BUILD_NUMBER --module "artifact-view-demo"    

      - name: Push to JFrog
        run: |
          BUILD_IMAGE="${{ steps.push.outputs.imageID }}"
          JFROG_IMAGE="z0artifactviewdev1.jfrogdev.org/sha-docker-repo/test:${{ github.sha }}"
          JFROG_LATEST="z0artifactviewdev1.jfrogdev.org/sha-docker-repo/org:latest"
          [ "$BUILD_IMAGE" != "$JFROG_IMAGE" ] && docker tag "$BUILD_IMAGE" "$JFROG_IMAGE"
          docker tag "$JFROG_IMAGE" "$JFROG_LATEST"
          jfrog docker push "$JFROG_IMAGE" --server-id=productdemo
          # jfrog docker push "$JFROG_LATEST" --server-id=productdemo    
          
      
